#video-container {
    max-width: 80%;
    justify-content: center;
    margin-left: 10%;
}

#myVideo {
    width: 100%;
    height: auto;
    justify-content: center;
}

.text_container {
    justify-content: center;
    background-image: url("../img/chair.png");
    background-size: cover;
    background-position: center;
    padding: 80px;
    position: relative;
    margin-bottom: 8%;
}

h1 {
    font-size: 2.95rem;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: center;
    text-align: center;
}

#chair_p {
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

.text_container h1,
.text_container p {
    position: relative;
    z-index: 1;
}

.text_container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(254, 254, 254, 0.5);
    z-index: 0;
}

.text_container h1,
.text_container p {
    z-index: 1;
}

.text_container h1 {
    margin-top: 20px;
}

.text_container p {
    margin-top: auto;
    transform: translateY(40%);
}

.content_container {
    text-align: left;
    margin-left: 10%;
    max-width: 80%;
    margin-bottom: 1%;
}

.content_container h2 {
    font-size: 1.55rem;
    font-family: Helvetica, Arial, sans-serif;
}

.content_container p {
    font-size: 0.85rem;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    border: 2px solid #fdf8e5;
    background-color: #241702;
    color: white;
    cursor: pointer;
    margin: 5px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.chairbutton_container {
    max-width: 80%;
    justify-content: center;
    margin-left: 10%;
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.chairbutton_container button:hover {
    background-color: #f5da7b;
    color: #241702;
}

@media (min-width: 800px) {
    button {
        padding: 18px 10px;
    }

    .chairbutton_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    .chairgrid {
        display: grid;
        grid-template-columns: 30% 70%;


    }

    .content_container {
        max-width: 100%;
        margin-left: 15%;
    }

    .chairgrid>div {
        padding: 10px;
    }

    #video-container {
        max-width: 100%;
        margin-right: 10%;
    }

    .chairbutton_container {
        display: grid;
        grid-column: 2 / span 1;
        margin-top: 0;
        justify-content: center;
    }


}